{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center">🔑 Cambiar Contraseña</h3>
        <form method="POST">
          <div class="mb-3">
            <label>Contraseña Actual</label>
            <input type="password" class="form-control" name="actual" required>
          </div>
          <div class="mb-3">
            <label>Nueva Contraseña</label>
            <input type="password" class="form-control" name="nueva" required>
          </div>
          <div class="mb-3">
            <label>Confirmar Nueva Contraseña</label>
            <input type="password" class="form-control" name="confirmar" required>
          </div>
          <button class="btn btn-primary w-100">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
